.container {
  margin: 40px 0 0 40px;
}
.random-button {
  background-color: green;
  color: #fff;
  font-family: sans-serif;
  border-radius: 15px;
  padding: 10px 15px;
  border: 0;
}
.button {
  background-color: violet;
  margin-right: 10px;
  padding: 5px 10px;
  border: 0;
}